@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  * {
    @apply border-white/5;
  }

  body {
    @apply bg-dark text-gray-100 antialiased;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-white/10 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-white/20;
  }
}
